[submodule "submodules/wmplayground"]
	path = submodules/wmplayground
	url = https://github.com/mommysgoodpuppy/wmplayground
[submodule "submodules/graintest"]
	path = submodules/graintest
	url = https://github.com/mommysgoodpuppy/graintest.git
[submodule "submodules/vscodewm"]
	path = submodules/vscodewm
	url = https://github.com/mommysgoodpuppy/vscodewm.git
